<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/post">Add</a>
    <table border="1">
        <tr>
            <td>Name</td>
            <td>Age</td>
            
            <td>Image</td>
            <td>Action</td>
            <td>Action</td>
        </tr> 
        <% for(var key of viewposts){%> 
            
            <tr>
                <td><%= key.name %></td>
                <td><%= key.postmessage %></td>
                
                <td><img src="<%= key.adminimage %>" alt="" width="300px"></td>
                <td><a href="/post/deleterec/<%= key.id %>">Delete</a></td>
                <td><a href="/post/updaterec/<%= key.id %>">Update</a></td>
            </tr>
            <%}%>
    </table>
</body>
</html>